:root{
    --colorBackgroud: black;
    --colorTitre:#0097A7;
    --colorSubtitre: white;
    --ColorTitre1:rgb(255, 0, 0);
    --colorCommands:rgb(76, 249, 76);
    --colorDescription: #757575;
}

/*1rem = 20px*/
html{
    font-size: 62.5%;
    background-color: var(--colorBackgroud);
}

body{
    font-size: 16px;
    margin: 5rem;
    background-color: var(--colorBackgroud);
}
/*1rem = 20px*/

main{
    background-color: var(--colorBackgroud);
    border: 5rem solid var(--colorBackgroud);
}

header {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar{
    font-size: large;
    color: var(--ColorTitre1);
    font-weight: bolder;
    position: sticky;
}

.navbar-brand {
    color: var(--ColorTitre1);
}

.container-fluid > h2{
    font-size: 3rem;
}

.container-fluid > h2 > span{
    font-size: 2rem;
    color: var(--ColorTitre1);
}

.nav-link:hover{
    border-radius: 5px;
    background-color: var(--colorTitre);
    color: var(--colorCommands) !important;
}

.container-sections{
    margin: 5rem;
}

.commande{
    color: var(--colorCommands);
    font-size: 2rem;
}

.titre{
    color: var(--colorCommands);
    font-size: 3rem;
}

.subtitle{
    color: var(--colorSubtitre) !important;
    font-size: 2rem;
}

.OptEx{
    color: var(--colorSubtitre) !important;
    font-size: 2rem;
}

.utilGen{
    color: var(--colorDescription);
    font-size: 2rem;
}

.paragOptEx{
    color: var(--colorDescription);
    font-size: 2rem;
}


footer{
    background-color: var(--colorBackgroud);
    color: var(--colorDescription);
    text-align: center;
}